

.project-nav {
  max-width: 60ch;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}


.app .project-nav a {
  display: block;
  border: 1px solid;
  border-color: rgba(150,150,150,0.58);
  line-height: 2;
  padding: 0 2ch;
  border-radius: var(--br);
  color: inherit;
  margin: 0.25rem 0;
}

.app .project-nav a:visited:hover {
  color: var(--purple);
  border-color: var(--purple); 
}

.app .project-nav a:not(.active):hover { 
  color: var(--blue);
  border-color: var(--blue); 
  background: white;
}

.app .project-nav a.active,
.app .project-nav a.active:hover {
  border-color: var(--green);
  color: var(--green);
}

.app .project-nav a.active:hover { background: white; }

.app .project-nav a.active:hover { background: transparent; }


@media (min-width: 515px) {
  .project-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .project-nav a { 
    flex: 1; 
    text-align: center;
    font-size: calc(2vmin + 6px);
    white-space: nowrap;
  }

  .project-nav a:not(:last-child) { margin-right: 1ch; }
}