.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 1rem;
  width: 1rem;
  border: 2px solid rgba(40,40,40, 0.67);
  border-radius: var(--br);
}

.checkbox:hover {
  border: 2px solid rgba(40,40,40, 1);
}

.checkbox > input {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}


.checkbox.checked:after {
  --size: calc(1rem - 8px);
  content: ' ';
  display: block;
  border-radius: 2px;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  background: var(--green);
}

.app.dark .checkbox {
  border-color:rgba(230,230,230, 0.67);
}

.app.dark .checkbox:hover {
  border-color:rgba(230,230,230, 1);
}

.app.dark .checkbox.checked:after {
  background: var(--light-green);
}