.app {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--transition);
  transition-property: var(--transition-prop);
  display: flex;
  flex-direction: column;
}

.app > .content { flex: 1; }

