* { box-sizing: border-box; }

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body { margin: 0; }

#root { overflow: hidden; }

button,
input,
select,
textarea {
  appearance: none;
  outline: none;
  border-radius: var(--br);
}

button { border: none; }

input,
select,
textarea {
  border: 1px solid;
  background: transparent;
  padding: 0 1ch;
}